{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div class="index-display">
    <h1>{{user}}'s Portfolio</h1>
    <div class=beside-table>
        <div class=cash>
            <strong>cash: </strong> {{cash}}
        </div>
        <div class=net>
            <strong>total balance: </strong> {{netval}}
        </div>
    </div>
    <div>
    <table>
        <tr>
            <th>Stock Symbol</th>
            <th>Shares Owned</th>
            <th>Share Price</th>
            <th>Total Value</th>
        </tr>
        {% for i in range(count) %}
        {% if port[i]["SUM(quantity)"] > 0 %}
        <tr>
            <td>{{port[i]["stocks"]}}</td>
            <td>{{port[i]["SUM(quantity)"]}}</td>
            <td>{{sp[i]}}</td>
            <td>{{tp[i]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}